# php_value "error_reporting" "E_ALL & ~E_NOTICE & ~E_DEPRECATED"

Allow from all
RewriteEngine on
#RewriteBase /
RewriteRule \.(ico|map)$ - [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]
